.services {
    background-color: rgb(239, 234, 228);
}

.services-list {
    row-gap: 2rem;
}

.services-item {
    padding: 6rem;
}

.services-item-img {
    margin-bottom: 5rem;
}

.services-item-text {
    max-width: 500px;
}

@media screen and (min-width: 768px) {
    .services-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .services-list {
        grid-template-columns: repeat(3, 1fr);
    }
}