.contact{
    min-height: 100vh;
    background: url('../../assets/images/contact_img_1.jpg') center/cover no-repeat;
    justify-content: stretch;
} 

.contact-form {
    max-width: 480px;
}

.contact-form .form-control {
    width: 100%;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 40px;
    min-height: 68px;
    font-size: 20px;
    line-height: 70px;
    padding: 0 2.5rem;
    margin-bottom: 2.5rem;
    outline: none;
    font-family: inherit;
    font-weight: 220;
}

.contact-form textarea.form-control {
    resize: none;
}

.contact-form .submit-btn {
    height: 68px;
    width: 100%;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    transition: var(--transition);
}